body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f9;
  color: #333;
}

.App {
  text-align: center;
}

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282c34;
  padding: 10px 20px;
  color: white;
  position: relative;
}

.header-left {
  display: flex;
  align-items: center;
}

.App-logo {
  height: 50px;
  margin-right: 15px;
}

h1 {
  font-size: 2rem;
  color: #f4f4f9;
  margin: 0;
}



.profile {
  text-align: left;
  margin: 20px auto;
  width: 80%;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.profile h2 {
  font-size: 1.5rem;
  color: #282c34;
}

.profile p {
  font-size: 1.1rem;
  color: #555;
}

.forum-container {
  width: 80%;
  margin: 20px auto;
}

footer {
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  background-color: #282c34;
  color: white;
}